/* White rounded footer */
.footer {
    border-top: 1px solid #000;
    width: 100%;
    background: #ffffff;
    padding: 15px 25px;

    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    margin-top: 40px;
}

/* Left text */
.footer-left {
    font-size: 14px;
    font-weight: 500;
}

/* Right links */
.footer-right a {
    color: #000;
    text-decoration: none;
    margin-left: 18px;
    font-size: 14px;
    padding: 8px 8px;
    border-radius: 6px;
    transition: background 0.2s;
}

/* Hover effect */
.footer-right a:hover {
    background: #eeecec;
    /* light grey hover */
}

/* MOBILE */
@media (max-width: 768px) {
    .footer {
        flex-direction: column-reverse;
        text-align: center;
        gap: 12px;
        padding: 20px 15px;
    }

    .footer-right {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .footer-right a {
        margin-left: 0;
        padding: 8px 12px;
        font-size: 15px;
    }

    .footer-left {
        font-size: 13px;
        color: #666;
    }
}