.navbar {
    width: 100%;
    padding: 14px 20px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo Left */
.nav-left .logo {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

/* Right links */
.nav-right {
    display: flex;
    gap: 25px;
}

.nav-right a {
    text-decoration: none;
    color: #444;
    font-size: 15px;
    padding: 10px 8px;
    border-radius: 6px;
    transition: 0.2s ease;
}

.nav-right a:hover {
    background: #f5f3f3;
    color: #000;
}


/* Wrap: makes logo + text inline */
.logo-wrap {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* Logo image */
.nav-logo {
    height: 28px;
    width: auto;
    margin-right: 8px;     /* space between logo + text */
}

/* Text beside logo */
.logo-text {
    font-size: 18px;
    color: #000;           /* pure black */
    font-weight: 600;
    letter-spacing: 0.3px;
}