/* GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}


/* MAIN CONTENT BOX */
.main-box {
    width: 600px;
    margin: 40px auto 10px auto;
    text-align: center;
    padding: 30px 25px;
    border-radius: 12px;
}

.main-box h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.sub-text {
    font-size: 14px;
    margin-bottom: 25px;
    color: #555;
}

/* INPUT FIELD */
.input-box {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border: 1px solid #000;
    border-radius: 8px;
    margin-bottom: 15px;
    outline: none;
}

/* DOWNLOAD BUTTON */
.download-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    background: #000;          /* black */
    color: #fff;               /* white text */
    border: 2px solid #000;
    border-radius: 8px;
    transition: 0.2s ease;
}

.download-btn:hover {
    background: #222;          /* slightly lighter black */
    border-color: #222;        /* border matches hover */
}
.content-area {
    flex: 1;       /* this pushes footer down */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.error-msg {
    color: red;
    margin-bottom: 10px;
    display: none;
    font-size: 14px;
    font-weight: 600;
}


